streamlit>=1.25.0
openai>=1.1.0
pydantic>=2.0.0
pandas
numpy
scikit-learn
st-files-connection>=0.1.0
gcsfs>=0.10.0
# Terminal coloring (for debugging)
colorama>=0.4.6 
matplotlib
torch
google-cloud-storage
joblib